<div class="container clearfix employee-information">
  <form [formGroup]="employeeDetailForm" (ngSubmit)="onSubmit()">
    <mat-card role="group">
      <mat-card-header>
        <mat-card-title>Employee Information</mat-card-title>
      </mat-card-header>
      <div class="employee-information__details clearfix">
        <mat-card class="mat-card-region" role="region">
          <h4>Personal Information</h4>
          <mat-form-field class="full-width-employee-form-field">
            <input matInput type="text" placeholder="First Name" formControlName="firstName" class="full-width-employee-field">
          </mat-form-field>
          <mat-form-field class="full-width-employee-form-field">
            <input matInput type="text" placeholder="Middle Name" formControlName="middleName" class="full-width-employee-field">
          </mat-form-field>
          <mat-form-field class="full-width-employee-form-field">
            <input matInput type="text" placeholder="Last Name" formControlName="lastName" class="full-width-employee-field">
          </mat-form-field>
          <div class="employee-information__details__row clearfix">
              <mat-form-field class="width-employee-form-field-1-3">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">
                  <mat-option *ngFor="let gender of genders" [value]="gender.value">{{gender.viewValue}}</mat-option>
                </mat-select>
                </mat-form-field>            <mat-form-field class="width-employee-form-field-1-3">
              <input matInput [matDatepicker] = "dobPicker" type="text" placeholder="Date Of Birth" formControlName="dobirth" class="full-width-employee-field">
              <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
              <mat-datepicker #dobPicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="width-employee-form-field-1-3">
              <mat-label>Marital Status</mat-label>
              <mat-select formControlName="maritalStatus">
                <mat-option *ngFor="let maritalStat of maritalStats" [value]="maritalStat.value">{{maritalStat.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="employee-information__details__row">
            <mat-form-field class="width-employee-form-field-1-3">
              <mat-label>Position</mat-label>
              <mat-select formControlName="position">
                <mat-option *ngFor="let position of positions" [value]="position.value">{{position.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="width-employee-form-field-1-3">
                <input matInput [matDatepicker] = "dhPicker" type="text" placeholder="Date Hired" formControlName="dohired" class="full-width-employee-field">
                <mat-datepicker-toggle matSuffix [for]="dhPicker"></mat-datepicker-toggle>
                <mat-datepicker #dhPicker></mat-datepicker>
            </mat-form-field>                      
          </div>
        </mat-card>
      </div>
      <div class="employee-information__details__row clearfix">
        <!-- Location Information -->
        <div class="width-employee-form-field-1-2">
          <mat-card class="mat-card-region" role="group">
            <h4>Location Information</h4>
            <mat-radio-group class="radio-array-button"><mat-radio-button [checked]="true">Set as primary</mat-radio-button></mat-radio-group>
            <button mat-flat-button (click)="addArrayElement(addresses)" type="button" color="warn" class="add-button">Add Address</button>
            <mat-card role="region" class="mat-card-region mat-card-region--with-buttons">
              <mat-radio-group formControlName="primaddress" formArrayName="addresses">
                <div *ngFor="let address of addresses.controls; let i = index">
                  <mat-radio-button labelPosition="before" [value]=address.value [checked]="address.value === primaddress.value">
                    <mat-form-field class="employee-radio-button__input-container">
                      <input matInput type="text" placeholder="Address" [formControlName]="i" class="full-width-employee-field">
                    </mat-form-field>            
                  </mat-radio-button>
                  <a class="delete-array-element" (click)="deleteArrayElement(i, addresses)">
                    <mat-icon class="delete-array-button" color="warn">delete</mat-icon>
                  </a>                  
                </div>
              </mat-radio-group>
            </mat-card>
          </mat-card>
        </div>
        <!-- end of Location Information -->
        <!-- Contact Information -->
        <div class="width-employee-form-field-1-2">
          <mat-card class="mat-card-region" role="group">
            <h4>Contact Information</h4>
            <mat-radio-group class="radio-array-button"><mat-radio-button [checked]="true">Set as primary</mat-radio-button></mat-radio-group>
            <button mat-flat-button (click)="addArrayElement(contacts)" type="button" color="warn" class="add-button">Add Contact</button>
            <mat-card role="region" class="mat-card-region mat-card-region--with-buttons">
              <mat-radio-group formControlName="primcontact" formArrayName="contacts">
                <div *ngFor="let contact of contacts.controls; let i = index">
                    <mat-radio-button labelPosition="before" [value]="contact.value" [checked]="contact.value == primcontact.value">
                      <mat-form-field class="employee-radio-button__input-container">
                        <input matInput type="text" placeholder="Contact" [formControlName]="i" class="full-width-employee-field">
                      </mat-form-field>
                    </mat-radio-button>
                    <a class="delete-array-element" (click)="deleteArrayElement(i, contacts)">
                      <mat-icon class="delete-array-button" color="warn">delete</mat-icon>
                    </a>
                </div>
              </mat-radio-group>  
            </mat-card>
          </mat-card>        
        </div> 
        <!-- end of Contact Information -->
      </div>
      <p>Form Value: {{employeeDetailForm.value | json}}</p>
      <p>Form Status:{{employeeDetailForm.status}}</p>
      <mat-card-actions>
        <button type="submit" [disabled]="!employeeDetailForm.valid" (click)="saveEmployeeDetails(employeeDetailForm.value)">Save</button>
      </mat-card-actions>
    </mat-card>
  </form>
  
</div>
