.mat-card-region {
  margin: .5rem 0;
  margin-right: 0;
  margin-left: 0;
  display: block;
  overflow: hidden;
  position: relative;

}

.mat-card-region--with-buttons {
  margin: 1rem 0 0;
}

.add-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
}

.full-width-employee-form-field,
.full-width-employee-field {
display: block;
max-width: 100%;
}

.employee-information__details__row {
  margin-right: -1rem;
  display: flex;
}

.width-employee-form-field-1-3 {
  display: inline-block;
  width: 33.33%;
}

.width-employee-form-field-1-2 {
  display: inline-block;
  width: 50%;
}

.employee-information__details__row .width-employee-form-field-1-3,
.employee-information__details__row .width-employee-form-field-1-2 {
  padding-right: 1rem;
}

.radio-array-button {
  display: block;
  margin-bottom: .25rem;
}

.employee-radio-button__input-container {
  width: 20rem;
  margin-right: 2rem;
}

.delete-array-element {
  align-self: center;
}
.delete-array-element .delete-array-button,
.edit-array-element .edit-array-button{
  cursor: pointer;
}

.array-title {
  margin-bottom: 1rem;
}

.add-array-container {
  display: flex;
}

.add-array-item__input {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
}

.add-array-icon-container {
  width: 2.5rem;
  height: 2.5rem
}

.add-array-icon {
  font-size: 2.5rem;
  transition: transform .3s;
}

.add-array-icon:hover {
  transform: translateY(-3px);
}

.add-array-icon:active {
  transform: translateY(-1px);
}

span.list-spacer {
  flex: 1 1 auto;
}

.array-list {
  overflow: hidden;
}

.employee-information {
  padding-bottom: 2rem;
}

.update-button,
.save-button {
  margin-left: .6rem;
  margin-right: .5rem;
}